<form action="" name="productForm">
    <fieldset>
        <legend>Basic Product Information</legend>
        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="inputProductName">Product Name</label>
            <input class="form-control col-sm-9" ng-model="vm.product.productName" id="inputProductName" type="text"
                placeholder="Name">
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="inputProductCode">Product Code</label>
            <input class="form-control col-sm-9" ng-model="vm.product.productCode" id="inputProductCode" ui-mask="AAA-****">
        </div>
        <div class="form-group row">
                <label class="col-form-label col-sm-3" for="inputProductDate">Availability</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input class="form-control" id="inputProductDate" is-open="vm.opened" datepicker-popup="MMM dd, yyyy" ng-model="vm.product.releaseDate">
                        <span class="input-group-append">
                            <button ng-click="vm.open($event)" class="btn btn-outline-secondary" ><i class="fa fa-calendar"></i></button>
                        </span>
                    </div>
                </div>
               
            </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-3" for="inputProductDesc">Description</label>
            <textarea class="form-control col-sm-9" ng-model="vm.product.description" id="inputProductDesc" rows="3"
                placeholder="Desc" />
            </div>
    </fieldset>
</form>