<div class="card">
        <div class="card-header" style="font-size:large">Product List</div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>
                            <button type="button"
                                    class="btn btn-primary btn-sm"
                                    ng-click="vm.toggleImage()">
                                {{vm.showImage ? "Hide" : "Show"}} Image
                            </button>
                        </td>
                        <td>Product</td>
                        <td>Code</td>
                        <td>Available</td>
                        <td>Price</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.products">
                        <td><img  ng-if="vm.showImage"  ng-src="{{product.imageUrl}}" style="width:50px;" title="{{product.productName}}"></td>
                        <td>
                            <a ui-sref="productDetail({productId:product.productId})">  {{product.productName}}</a>
                          
                        </td>
                        <td>{{product.productCode}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td>{{product.price | currency}}</td>
                        <td>
                          <a class="btn btn-primary" ui-sref="productEdit.info({productId:product.productId})">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>